from typing import Any, Literal


class FilterNode:
    def __init__(self, stream: "Stream", name: str, **kwargs: Any) -> None:
        ...

    def stream(self) -> "Stream":
        raise NotImplementedError()


class Stream:
    {% for method in methods %}
{{ method }}
    {% endfor %}
