    def {{filter.name}}(
        self,
        {%- if filter.typed_parameters -%}
        *,
        {%- endif -%}
        {% for parameter in filter.typed_parameters -%}
        {{ parameter.name_safe }}: {{ parameter.typing }} {% if not parameter.required -%}= None{%- endif -%},
        {% endfor -%}
        **kwargs: dict[str, Any]
    ) -> "Stream":
        """
        {{ filter.description | striptags }}

        Parameters:
        ----------
        {% for para in filter.typed_parameters -%}
        {{ para.name_safe }}:
            {{ para.description | striptags }}
        {% endfor %}


        Example usage:
        --------------

        Ref: {{ filter.ref }}

        """
        return FilterNode(
            *[self],
            name="{{filter.name}}",
            kwargs={
                {% for para in filter.typed_parameters %}
                "{{para.name}}": {{para.name_safe}},
                {%- endfor %}
                **kwargs
            }
        ).stream()
