

from pathlib import Path

from ..nodes import InputNode
from ...streams.av import AVStream
from typing import Any
from ...types import *

def input(
    filename: str | Path,
    *,
    {%- for option in options -%}
    {%- if option.is_input_option -%}
    {{ option.name }}: {{ option | option_typing }} = None,
    {%- endif -%}
    {%- endfor -%}
    extra_options: dict[str, Any] = None,
) -> AVStream:
    """
    Input file URL (ffmpeg ``-i`` option)

    Args:
        filename: Input file URL
        {% for option in options %}
        {%- if option.is_input_option -%}
        {{option.name | option_name_safe}}: {{option.help }}
        {% endif %}
        {%- endfor -%}
        extra_options: ffmpeg's input file options

    Returns:
        Input stream

    Examples:
    ```py
    >>> input('input.mp4')
    <AVStream:input.mp4:0>
    ```
    """

    options = {
        k: v for k, v in {
            {% for option in options %}
                {%- if option.is_input_option -%}
                "{{ option.name}}": {{ option.name | option_name_safe }},
                {% endif %}
                {% endfor %}
        }.items() if v is not None
    }

    return InputNode(
        filename=str(filename),
        kwargs=tuple((options | (extra_options or {}) ).items())
    ).stream()
