{% import "_components.jinja" as _components %}

from pathlib import Path
from ...utils.frozendict import FrozenDict, merge

from ..nodes import InputNode
from ...streams.av import AVStream
from typing import Any
{{ _components.import_types('...types') }}
from ...codecs.schema import FFMpegDecoderOption

def input(
    filename: str | Path,
    *,
    {%- for option in options -%}
    {%- if option.is_input_option -%}
    {{ option.name }}: {{ option | option_typing }} = None,
    {%- endif -%}
    {%- endfor -%}
    decoder_options: FFMpegDecoderOption | None = None,
    extra_options: dict[str, Any] | None = None,
) -> AVStream:
    """
    Input file URL (ffmpeg ``-i`` option)

    Args:
        filename: Input file URL
        {% for option in options %}
        {%- if option.is_input_option -%}
        {{option.name | option_name_safe}}: {{option.help }}
        {% endif %}
        {%- endfor -%}
        decoder_options: ffmpeg's decoder options
        extra_options: ffmpeg's input file options

    Returns:
        Input stream

    Examples:
    ```py
    >>> input('input.mp4')
    <AVStream:input.mp4:0>
    ```
    """
    options = {
         k: v for k, v in {
             {% for option in options %}
                 {%- if option.is_input_option -%}
                 "{{ option.name}}": {{ option.name | option_name_safe }},
                 {% endif %}
                 {% endfor %}
         }.items()
     }

    return InputNode(
        filename=str(filename),
        kwargs=merge(options, decoder_options.kwargs if decoder_options else {}, extra_options)
    ).stream()
