{% import "_components.jinja" as _components %}

from pathlib import Path

from ..nodes import OutputNode, OutputStream, FilterableStream
from typing import Any
{{ _components.import_types('...types') }}

from ...utils.frozendict import FrozenDict

def output(
    *streams: FilterableStream,
    filename: str | Path,
    {%- for option in options -%}
    {%- if option.is_output_option -%}
    {{ option.name | option_name_safe }}: {{ option | option_typing }} = None,
    {%- endif -%}
    {%- endfor -%}
    extra_options: dict[str, Any] | None = None,
) -> OutputStream:
    """
    Output file URL

    Args:
        *streams: the streams to output
        filename: the filename to output to
        {% for option in options %}
        {%- if option.is_output_option -%}
        {{option.name | option_name_safe}}: {{option.help }}
        {% endif %}
        {%- endfor -%}
        extra_options: the arguments for the output

    Returns:
        the output stream
    """

    options = {
        k: v for k, v in {
            {% for option in options %}
                {%- if option.is_output_option -%}
                "{{ option.name}}": {{ option.name | option_name_safe }},
                {% endif %}
                {% endfor %}
        }.items() if v is not None
    }

    return OutputNode(
        inputs=streams,
        filename=str(filename),
        kwargs=FrozenDict(options | (extra_options or {}))
    ).stream()
