
[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    \.\.\.

[run]
omit =
    src/ffmpeg/dag/global_runnable/global_args.py
    src/ffmpeg/filters.py
    src/ffmpeg/sources.py
    src/ffmpeg/streams/video.py
    src/ffmpeg/streams/audio.py
    src/ffmpeg/codecs/encoders.py
    src/ffmpeg/codecs/decoders.py
    src/ffmpeg/muxers/muxers.py
    src/ffmpeg/muxers/demuxers.py
    test_*.py
    */test_*.py
    main.py
