site_name: typed-ffmpeg
site_description: Data validation using Python type hints
strict: true
site_url: https://livingbio.github.io/typed-ffmpeg/

theme:
  name: "material"
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: pink
      accent: pink
      toggle:
        icon: material/lightbulb-outline
        name: "Switch to dark mode"
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: pink
      accent: pink
      toggle:
        icon: material/lightbulb
        name: "Switch to light mode"
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - announce.dismiss
    - navigation.tabs
  logo: "logo-white.svg"
  favicon: "favicon.png"

repo_name: livingbio/typed-ffmpeg
repo_url: https://github.com/livingbio/typed-ffmpeg
edit_uri: edit/main/docs/

# https://www.mkdocs.org/user-guide/configuration/#validation
# validation:
#   omitted_files: warn
#   absolute_links: warn
#   unrecognized_links: warn

nav:
  - Get Started:
      - Overview: index.md
  - Usage:
      - Doc: usage/doc.md
      - Typed: usage/typed.md
      - Validate: usage/validate.md
      - Custom Filters: usage/custom_filters.md
      - Serialize: usage/serialize.md
      - Example: usage/example.md
  - API Documentation:
      - ffmpeg: src/base.md
      - types: src/types.md
      - schema: src/schema.md
      - filters: src/filters.md
      - probe: src/probe.md
      - exceptions: src/exceptions.md
      - Streams:
          - video stream: src/streams/video_stream.md
          - audio stream: src/streams/audio_stream.md
          - av stream: src/streams/av_stream.md
      - DAG:
          - compile: src/dag/compile.md
          - context: src/dag/context.md
          - nodes: src/dag/nodes.md
          - schema: src/dag/schema.md
          - serialize: src/dag/serialize.md
          - utils: src/dag/utils.md
          - validate: src/dag/validate.md
      - utils:
          - escaping: src/utils/escaping.md
          - run: src/utils/run.md
          - snapshot: src/utils/snapshot.md
          - typing: src/utils/typing.md
          - view: src/utils/view.md
watch:
  - "src"
  - "docs"
  - "README.md"

# https://www.mkdocs.org/user-guide/configuration/#validation
# validation:
#   omitted_files: warn
#   absolute_links: warn
#   unrecognized_links: warn

markdown_extensions:
  - attr_list
  - admonition
  - callouts
  - footnotes
  - pymdownx.details
  - pymdownx.magiclink
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      pygments_lang_class: true
  - pymdownx.extra
  - pymdownx.tilde
  - tables
  - toc:
      permalink: true
      title: Page contents

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_options:
              ignore_init_summary: true
            filters: ["!^_"]
            heading_level: 1
            inherited_members: true
            merge_init_into_class: true
            separate_signature: true
            show_root_heading: true
            show_root_full_path: false
            show_signature_annotations: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            signature_crossrefs: true
            summary: true
            docstring_section_style: table
            order: source
            docstring_style: google
            extensions:
              - griffe_inherited_docstrings
