site_name: typed-ffmpeg
site_description: Data validation using Python type hints
strict: true
site_url: https://docs.pydantic.dev/

theme:
  name: "material"

watch:
  - "src"
  - "docs"

plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            docstring_section_style: table
            show_root_heading: true
            extensions:
              - griffe_inherited_docstrings
