site_name: typed-ffmpeg
site_description: Data validation using Python type hints
strict: true
site_url: https://livingbio.github.io/typed-ffmpeg/

theme:
  name: "material"
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: pink
      accent: pink
      toggle:
        icon: material/lightbulb-outline
        name: "Switch to dark mode"
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: pink
      accent: pink
      toggle:
        icon: material/lightbulb
        name: "Switch to light mode"
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - announce.dismiss
    - navigation.tabs
  logo: "logo-white.svg"
  favicon: "favicon.png"

repo_name: livingbio/typed-ffmpeg
repo_url: https://github.com/livingbio/typed-ffmpeg
edit_uri: edit/main/docs/

# https://www.mkdocs.org/user-guide/configuration/#validation
# validation:
#   omitted_files: warn
#   absolute_links: warn
#   unrecognized_links: warn

nav:
  - Get Started:
      - Welcome to Pydantic: index.md
  - API Documentation:
      - Streams:
          - video stream: streams/video_stream.md
          - audio stream: streams/audio_stream.md
          - av stream: streams/av_stream.md
      - Nodes:
          - base: nodes/base.md
          - nodes: nodes/nodes.md
watch:
  - "src"
  - "docs"

plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            extensions:
              - griffe_inherited_docstrings
            docstring_style: google
            docstring_section_style: table
            show_root_heading: true
