[tool.poetry]
name = "typed-ffmpeg"
version = "0.1.0"
description = ""
authors = ["lucemia <lucemia@gmail.com>"]
readme = "README.md"
packages = [{ include = "ffmpeg", from = "src" }]
include = ["ffmpeg/py.typed"]
exclude = ["**/tests"]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
pydantic = "*"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest-datadir = "^1.5.0"
syrupy = "^4.6.0"
pytest-recording = "^0.13.1"
pytest-cov = "^4.1.0"
pre-commit = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
