[tool.poetry]
name = "typed-ffmpeg"
version = "0.0.0"
description = ""
authors = ["lucemia <lucemia@gmail.com>"]
readme = "README.md"
packages = [{ include = "ffmpeg", from = "src" }]
include = ["ffmpeg/py.typed"]
exclude = ["**/tests"]

[tool.poetry.dependencies]
python = ">=3.10,<4.0"

graphviz = {"version" = "*", optional=true}

[tool.poetry.extras]
graph = [
    "graphviz",
]

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
# test
pytest-cov = "^4.1.0"
pytest-datadir = "^1.5.0"
pytest-recording = "^0.13.1"
syrupy = "^4.6.0"
pre-commit = "*"
mypy = "*"
imagehash = "*"
graphviz = "*"

# Doc
mkdocs = "*"
markdown-callouts = "^0.4.0"
mkdocs-material = "^9.5.9"
mkdocstrings = "^0.24.0"
mkdocstrings-python = "^1.8.0"
pymdown-extensions = "^10.7"


[tool.poetry-dynamic-versioning]
enable = true
pattern = "default-unprefixed"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"
