[tool.poetry]
name = "typed-ffmpeg"
version = "0.0.0"
description = ""
authors = ["lucemia <lucemia@gmail.com>"]
readme = "README.md"
packages = [{ include = "ffmpeg", from = "src" }]
include = ["ffmpeg/py.typed"]
exclude = ["**/tests"]

[tool.poetry.dependencies]
python = ">=3.10,<4.0"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest-datadir = "^1.5.0"
syrupy = "^4.6.0"
pytest-recording = "^0.13.1"
pytest-cov = "^4.1.0"
pre-commit = "*"
mypy = "*"

[tool.poetry-dynamic-versioning]
enable = true
pattern = "default-unprefixed"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"
