/**
 * Typed input() function with all FFmpeg input options.
 */

import { InputNode, AVStream } from "@typed-ffmpeg/core/dag/nodes";
import { merge } from "@typed-ffmpeg/core/utils/frozenRecord";
import type { FFMpegDecoderOption } from "../../codecs/decoders.js";
import type { FFMpegDemuxerOption } from "../../formats/demuxers.js";
import type { FFMpegAVFormatContextDecoderOption } from "../../options/format.js";
import type { FFMpegAVCodecContextDecoderOption } from "../../options/codec.js";
import type {
  FFBoolean, FFInt, FFInt64, FFFloat, FFDouble, FFString,
  FFDuration, FFFunc, FFTime,
} from "@typed-ffmpeg/core/types";

/**
 * Input file URL (ffmpeg `-i` option)
 *
 * @param filename - Input file URL
 * @param options - Input options
 * @returns Input stream
 */
export function input(
  filename: string,
  options?: {
{%- for option in options %}
{%- if option.is_input_option %}
    {{ option.name | option_name_safe }}?: {{ option | option_typing }};
{%- endif %}
{%- endfor %}
    decoderOptions?: FFMpegDecoderOption;
    demuxerOptions?: FFMpegDemuxerOption;
    formatOptions?: FFMpegAVFormatContextDecoderOption;
    codecOptions?: FFMpegAVCodecContextDecoderOption;
    extraOptions?: Record<string, unknown>;
  },
): AVStream {
  return new InputNode(
    filename,
    merge(
      {
{%- for option in options %}
{%- if option.is_input_option %}
        "{{ option.name }}": options?.{{ option.name | option_name_safe }},
{%- endif %}
{%- endfor %}
      },
      options?.decoderOptions as Record<string, unknown> | undefined,
      options?.demuxerOptions as Record<string, unknown> | undefined,
      options?.formatOptions as Record<string, unknown> | undefined,
      options?.codecOptions as Record<string, unknown> | undefined,
      options?.extraOptions,
    ),
  ).stream();
}
