/**
 * FFmpeg format context options.
 */

import { merge } from "@typed-ffmpeg/core/utils/frozenRecord";

export type FFMpegAVFormatContextEncoderOption = Readonly<Record<string, unknown>>;
export type FFMpegAVFormatContextDecoderOption = Readonly<Record<string, unknown>>;

/**
 * Encoder format context options.
{% for option in av_option_sets %}{% if option.section == "AVFormatContext AVOptions:" and "E" in option.flags %} * @param options.{{ option.name | option_name_safe }} - {{ option.help }}
{% endif %}{% endfor %} */
export function encoderFormatContext(options?: {
{%- for option in av_option_sets %}
{%- if option.section == "AVFormatContext AVOptions:" and "E" in option.flags %}
  {{ option.name | option_name_safe }}?: {{ option | ts_av_option_type }};
{%- endif %}
{%- endfor %}
}): FFMpegAVFormatContextEncoderOption {
  return merge({
{%- for option in av_option_sets %}
{%- if option.section == "AVFormatContext AVOptions:" and "E" in option.flags %}
    "{{ option.name }}": options?.{{ option.name | option_name_safe }},
{%- endif %}
{%- endfor %}
  });
}

/**
 * Decoder format context options.
{% for option in av_option_sets %}{% if option.section == "AVFormatContext AVOptions:" and "D" in option.flags %} * @param options.{{ option.name | option_name_safe }} - {{ option.help }}
{% endif %}{% endfor %} */
export function decoderFormatContext(options?: {
{%- for option in av_option_sets %}
{%- if option.section == "AVFormatContext AVOptions:" and "D" in option.flags %}
  {{ option.name | option_name_safe }}?: {{ option | ts_av_option_type }};
{%- endif %}
{%- endfor %}
}): FFMpegAVFormatContextDecoderOption {
  return merge({
{%- for option in av_option_sets %}
{%- if option.section == "AVFormatContext AVOptions:" and "D" in option.flags %}
    "{{ option.name }}": options?.{{ option.name | option_name_safe }},
{%- endif %}
{%- endfor %}
  });
}
