from typing import Literal
from .schema import FFMpegEncoderOption
from ..utils.frozendict import FrozenDict, merge

{% for codec in codecs %}
{% if codec.is_encoder %}
def {{codec.safe_name }}(
    {% for option in codec.options %}
    {{ option.safe_name }}: {{ option.typing }} = None,
    {% endfor %}
) -> FFMpegEncoderOption:
    """
    {{codec.help}}
    {% if codec.options | length > 0 %}
    Args:
    {%- for option in codec.options %}
        {{ option.safe_name }}: {{ option.help }}
    {%- endfor %}
    {%- endif %}

    Returns:
        the set codec options
    """
    return FFMpegEncoderOption(kwargs=merge({
        {% for option in codec.options %}
        "{{ option.name }}": {{ option.safe_name }},
        {% endfor %}
    }))
{% endif %}
{% endfor %}
