"""
Audio stream.
"""
{% import "_components.jinja" as _components %}

from __future__ import annotations

import re
from typing import TYPE_CHECKING, Any, Literal

from ..dag.nodes import FilterableStream, FilterNode
from ..schema import Default, StreamType, Auto
{{ _components.import_types('..types') }}
from ..utils.typing import override
from .channel_layout import CHANNEL_LAYOUT
from ..common.schema import FFMpegFilterDef
from ..dag.factory import filter_node_factory
from ..utils.frozendict import merge

if TYPE_CHECKING:
    from .video import VideoStream


class AudioStream(FilterableStream):
    """
    Audio stream.
    """

    {% for f in filters %}
        {% if f.filter_type.value in ["af", "avf"] and not f.is_dynamic_input %}
    {{ _components.filter_method(f) }}
        {% endif %}
    {% endfor %}
