{% macro stream_typings(f, type) -%}
{% if type == "method" %}
    self,
{% endif %}
{% if f.is_dynamic_input %}
    {% if f.input_typings | length > 1 %}
    *streams: FilterableStream,
    {% elif f.filter_type.value in ["vf", "vaf"] %}
    *streams: VideoStream,
    {% elif f.filter_type.value in ["af", "avf"] %}
    *streams: AudioStream,
    {% endif %}
{% elif f.stream_typings_input | length == 1 %}
{% else %}
    {% for stream_typing in f.stream_typings_input %}
        {% if type == "method" and loop.index0 == 0 %}
        {% elif stream_typing.type.value == "video" %}
        {{ stream_typing.name | stream_name_safe }}: VideoStream,
        {% else %}
        {{ stream_typing.name | stream_name_safe }}: AudioStream,
        {% endif %}
    {% endfor %}
{% endif %}
{% endmacro %}




{%- macro return_stream_typings(f) -%}
{%- if f.filter_type.value in ["vf", "avf"] -%}
    {% set return_type = "VideoStream" %}
{%- elif f.filter_type.value in ["af", "vaf"] -%}
    {% set return_type = "AudioStream" %}
{%- endif -%}
{%- if f.is_dynamic_output -%}
-> FilterNode:
{%- elif f.stream_typings_output | length == 1 -%}
-> {{ return_type }}:
{%- else -%}
-> tuple[
    {% for stream_typing in f.stream_typings_output %}
        {% if stream_typing.type.value == "video" %}
            VideoStream,
        {% else %}
            AudioStream,
        {% endif %}
    {% endfor %}
]:
{%- endif -%}
{%- endmacro -%}

{% macro docstring(f) %}
{{ f.description }}
{% if f.options | length > 0 %}
Args:
{%- for option in f.options %}
    {{option.name | option_name_safe}}: {{option.description | striptags }}
{%- endfor %}
{% endif %}
Returns:
{%- if f.is_dynamic_output %}
    filter_node: the filter node
{% else -%}
    {% for stream_typing in f.stream_typings_output %}
    {%- if stream_typing.type.value == "video" %}
    {{ stream_typing.name}}: the video stream
    {%- else %}
    {{ stream_typing.name}}: the audio stream
    {%- endif -%}
    {%- endfor %}
{%- endif %}

References:
    [FFmpeg Documentation]({{ f.ref }})
{% endmacro %}


{% macro stream_params(f, type) -%}
{% if type == "method" %}
    self,
{% endif %}
{% if f.is_dynamic_input %}
    {% if f.filter_type.value in ["vf", "vaf"] %}
    *streams,
    {% elif f.filter_type.value in ["af", "avf"] %}
    *streams,
    {% endif %}
{% elif f.stream_typings_input | length == 1 %}
{% else %}
    {% for stream_typing in f.stream_typings_input %}
        {% if type == "method" and loop.index0 == 0 %}
        {% elif stream_typing.type.value == "video" %}
        {{ stream_typing.name | stream_name_safe }},
        {% else %}
        {{ stream_typing.name | stream_name_safe }},
        {% endif %}
    {% endfor %}
{% endif %}
{% endmacro %}


{% macro process(f, type) %}
{%- if f.filter_type.value in ["vf", "avf"] -%}
    {% set return_type = "video" %}
{%- elif f.filter_type.value in ["af", "vaf"] -%}
    {% set return_type = "audio" %}
{%- endif -%}
filter_node = filter_node_factory(
    {{f.to_def}},
    {{ stream_params(f, type) }}
    **{
        {% for option in f.options %}
        "{{ option.name}}": {{ option.name | option_name_safe }},
        {% endfor %}
    } | extra_options | kwargs
)
{% if f.is_dynamic_output %}
return filter_node
{%- elif f.stream_typings_output | length == 1 -%}
return filter_node.{{return_type}}(0)
{%- else -%}
return (
    {% for stream_typing in f.stream_typings_output %}
        {% if stream_typing.type.value == "video" %}
            filter_node.video({{loop.index0}}),
        {% else %}
            filter_node.audio({{loop.index0}}),
        {% endif %}
    {% endfor %}
)
{% endif %}
{% endmacro %}


{% macro filter_method(f) %}
    def {{f.name}}(
    {{ stream_typings(f, "method") }}
    {% if not f.is_dynamic_input and f.options | length > 0 %}*,{% endif %}
    {{ f | filter_option_typings }}
    extra_options: dict[str, Any],
    **kwargs: Any
    ) {{- return_stream_typings(f) }}
        """
        {{ docstring(f) }}
        """
{{ process(f, "method") | indent(8, True) }}
{% endmacro %}


{% macro filter_function(f) %}
def {{f.name}}(
    {{ stream_typings(f, "function") }}
    {% if not f.is_dynamic_input and f.options | length > 0 %}*,{% endif %}
    {{ f | filter_option_typings }}
    extra_options: dict[str, Any],
    **kwargs: Any
) {{- return_stream_typings(f) }}
    """
    {{ docstring(f) }}
    """
{{ process(f, "function") | indent(4, True) }}
{% endmacro %}
