"""
FFmpeg filters.
"""

{% import "_components.jinja" as _components %}

from typing import Any, Literal

from .dag.nodes import FilterNode, FilterableStream
from .schema import Default, StreamType, Auto
{{ _components.import_types('types', template_path) }}
from .streams.video import VideoStream
from .streams.audio import AudioStream
from .streams.av import AVStream
from .streams.channel_layout import CHANNEL_LAYOUT
from .common.schema import FFMpegFilterDef
from .options.framesync import FFMpegFrameSyncOption
from .dag.factory import filter_node_factory
from .utils.frozendict import merge

import re


{% for f in filters %}
    {% if f.is_dynamic_input or f.stream_typings_input | length > 1 %}
{{ _components.filter_function(f) }}
    {% endif %}
{% endfor %}
