from typing import Any, Literal

from .dag.nodes import FilterNode, FilterableStream
from .schema import Default, StreamType, to_tuple
from .types import Boolean, Duration, Color, Flags, Dictionary, Pix_fmt, Int, Int64, Double, Float, String, Video_rate, Image_size, Rational, Sample_fmt, Binary
from .streams.video import VideoStream
from .streams.audio import AudioStream
from .streams.av import AVStream
from .streams.channel_layout import CHANNEL_LAYOUT

import re

{% import "_components.jinja" as _components %}

{% for f in filters %}
    {% if f.is_input_dynamic or f.input_stream_typings | length > 1 %}
{{ _components.filter_function(f) }}
    {% endif %}
{% endfor %}
