from .stream import VideoStream, AudioStream, FilterNode
from typing import Any



{% import "_components.jinja" as _components %}

{% for f in filters %}
    {% if f.is_input_dynamic or f.input_stream_typings | length > 1 %}
{{ _components.filter_function(f) }}
    {% endif %}
{% endfor %}
