from typing import Any, Literal

from .nodes.nodes import FilterNode, FilterableStream
from .schema import Default, StreamType, BOOLEAN, DURATION, COLOR, FLAGS, DICTIONARY, PIX_FMT, INT, INT64, DOUBLE, FLOAT, STRING, VIDEO_RATE, IMAGE_SIZE, RATIONAL, SAMPLE_FMT, BINARY
from .streams.video import VideoStream
from .streams.audio import AudioStream
from .streams.av import AVStream
from .streams.channel_layout import CHANNEL_LAYOUT

import re

{% import "_components.jinja" as _components %}

{% for f in filters %}
    {% if f.is_input_dynamic or f.input_stream_typings | length > 1 %}
{{ _components.filter_function(f) }}
    {% endif %}
{% endfor %}
