from .streams.av import AVStream
from .dag.nodes import InputNode
from typing import Any
from .schema import Default, StreamType, _to_tuple

def input(
    filename: str,
    *,
    {%- for option in options -%}
    {%- if option.is_global_option -%}
    {{ option.name }}: {{ option.typing }},
    {%- endif -%}
    {%- endfor -%}
    **kwargs: Any
) -> AVStream:
    """
    Input file URL (ffmpeg `-i` option)

    Args:
        filename: Input file URL
        {% for option in options %}
        {%- if option.is_global_option -%}
        {{option.name | option_name_safe}}: {{option.help }}
        {% endif %}
        {%- endfor -%}
        **kwargs: Additional options

    Returns:
        Input stream

    Examples:
    ```py
    >>> input("input.mp4")
    <AVStream: input.mp4>
    ```
    """

    return InputNode(
        filename=filename,
        kwargs=_to_tuple(({
            {% for option in options %}
            {%- if option.is_global_option -%}
            "{{ option.name}}": {{ option.name | option_name_safe }},
            {% endif %}
            {% endfor %}
        } | kwargs)),
    ).stream()
