{% import "_components.jinja" as _components %}

from typing import Any

from .base import FilterNode, Stream



class AudioStream(Stream):
    {% for f in filters %}
        {% if f.filter_type.value in ["af", "avf"] %}
    {{ _components.filter_method(f) }}
        {% endif %}
    {% endfor %}


class VideoStream(Stream):
    {% for f in filters %}
        {% if f.filter_type.value in ["vf", "vaf"] %}
    {{ _components.filter_method(f) }}
        {% endif %}
    {% endfor %}
