from typing import Any, TYPE_CHECKING
from .node import FilterNode

if TYPE_CHECKING:
    from .audio import AudioStream

{% import "_components.jinja" as _components %}

class VideoStream:
    {% for f in filters %}
        {% if f.filter_type.value in ["vf", "vaf"] %}
    {{ _components.filter_method(f) }}
        {% endif %}
    {% endfor %}
