name: "unittest for package"
on:
  push:
    branches: ["**"]

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install poetry
      - run: poetry install --with dev
      # Install Graphviz & FFmpeg
      - name: Install ffmpeg
        run: sudo apt-get update && sudo apt-get install ffmpeg graphviz -y && ffmpeg -version && dot -V
      - name: Run unittest
        run: poetry run py.test src/ --cov=./src
      - name: lint
        run: poetry run pre-commit run --all-files
        working-directory: src
      - run: poetry run mkdocs build # ensure mkdocs build is successful
